<div>
    <a href="/profile">My profile</a>
    <form action="/api/sessions/logout" method="post">
        <button type="submit" >Logout</button>
    </form>
    <h1>Te damos la bienvenida {{user.first_name}} {{user.last_name}}!!!</h1>
    <h1>Lista de productos</h1>
    <ul>
        {{#each products as |product|}}
            <li>
                <p>Titulo: {{product.title}}</p>
                <p>Descripción: {{product.description}}</p>
                <p>Precio: {{product.price}}</p>
                <p>Stock: {{product.stock}}</p>
                <button>Agrgar al carrito</button>
            </li>
        {{/each}}
    </ul>
</div>